section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 73px);
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px;
}
section > * {
  background: gray;
  border-radius: 8px;
}

header {
  grid-column-start: 1;
  grid-column-end: 3;
}

main {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 8;
  background-image: url("./main-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

aside {
  grid-column: 3;
  grid-row-start: 1;
  grid-row-end: 8;
}
